[Unit]
Description=Watch for input trigger and reapply remaps
After=graphical-session.target

[Service]
ExecStart=/home/jrh/dotfiles/scripts/sys/input_watcher.sh
Restart=always

[Install]
WantedBy=default.target

