[Desktop Entry]
Version=1.0
Name=WezTerm
Comment=WezTerm GPU Accelerated Terminal Emulator
Exec=wezterm start
Terminal=false
StartupWMClass=org.wezfurlong.wezterm
Type=Application
Categories=Terminal;Emulator
Icon=custom/wezterm-icon.svg
